.shelter-container{
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.shelter-container-text-image{
  display: flex;
  width: 100%;
  margin: 1em;
  border-radius: 1em;
  background-color: #0C6774;
}

.shelter-container-img{
  display: flex;
  width: 35%;
}

.shelter-container-img img{
  display: flex;
  width: 100%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.shelter-container-text{
  display: flex;
  width: 60%;
  justify-content: flex-end;
  margin-left: 1em;
  font-family: "Kalam";
}

.shelter-text-tittle h2{
  display: flex;
  width: 100%;
}