.form-main-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0  auto;
}

.form-main-container form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: seagreen;
    gap: 0.5em;
}

.form-main-container input{
    width: 30%;
}

.show-animal-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.show-animal-list-elements{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.logo-tittle{
    width: 0;
    height: 0;
   visibility: hidden;
}

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px){
    .form-main-container form{
        width: 70%;
        margin-top: 2em;
    }

    .form-main-container{
        margin-bottom: 7em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    .show-animal-list-elements{
        width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .show-animal-list-elements{
        width: 25%;
    }

    .form-main-container form{
        width: 70%;
    }
    
}