* {
    padding: 0;
    margin: 0;
}

.top-bar {
    display: flex;
    background-color: #2F4858;
    width: 100%;
    height: 25vw;
}

.icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    margin: 0 auto;
}


/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
    .top-bar {
        width: 100%;
        height: 20vw;
        visibility: visible;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-bar {
        display: flex;
        background-color: #2F4858;
        width: 100%;
        height: 20vw;
        visibility: visible;
    }

    .icons {
        width: 40%;
        display: flex;
        font-size: xx-large;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .top-bar {
        display: flex;
        background-color: #2F4858;
        width: 100%;
        height: 20vw;
    }

    .icons {
        width: 10%;
        display: flex;
        font-size: xx-large;
    }

    .bars {
        visibility: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .top-bar {
        display: flex;
        background-color: #2F4858;
        width: 100%;
        height: 10vw;
    }

    .icons {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        font-size: xx-large;
    }

}