* {
    padding: 0;
    margin: 0;
}

.top-bar {
    display: flex;
    background-color: #2F4858;
    width: 100%;
    height: 25vw;
}

.icons{
    width: 50%;
    justify-content: space-around;
    padding-left: 4em;
    padding-right: 1em;
    align-items: center;
    font-size: x-large;
}
