.social-media-container{
    width: 50%;
    display: flex;
}

.social-media-icon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon a{
    width: 33%;
    height: 6vw;
    display: flex;
    color: white;
    justify-content: center;
}

.instagram{
    width: 75%;
    height: 6vw;
    display: flex;
    margin-right: 2.5em;
}

.rss{
    width: 75%;
    height: 6vw;
    display: flex;
    margin-right: 2.5em;
}

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .instagram{
    width: 75%;
    display: flex;
    
  }

  .rss{
    width: 75%;
    display: flex;
    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .social-media-container{
        width: 50%;
        display: flex;
    }
    
    .social-media-icon{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .social-media-icon a{
        width: 33%;
        height: 6vw;
        display: flex;
        color: white;
        justify-content: center;
    }
    
    .instagram{
        width: 35%;
        height: 6vw;
        display: flex;
    }

    .rss{
        width: 35%;
        height: 6vw;
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .instagram{
        width: 23%;
        height: 6vw;
    }

    .rss{
        width: 23%;
        height: 6vw;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     .social-media-container{
        width: 50%;
        display: flex;
    }
    
    .social-media-icon{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .social-media-icon a{
        width: 33%;
        height: 6vw;
        display: flex;
        color: white;
        justify-content: center;
    }
    
    .instagram{
        width: 15%;
        height: 6vw;
        display: flex;
    }

    .rss{
        width: 15%;
        height: 6vw;
        display: flex;
    }
  }